$px-base: 16 !default;

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: rem($px-base);
}

.btn,
button,
a {
  color: inherit;
  text-decoration: none;
  color: black;
  &:focus,
  &:hover {
    color: black;
  }
}
figure {
  margin: 0;
}

.sprite {
  &, svg {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.sf-dump {
  position: relative;
  z-index: 2;
}